{% extends "body.html.twig" %}

{% block title %}{{ proposal.title }}{% endblock %}
{% block ogtitle %}{{ proposal.title }}{% endblock %}
{% block ogdescription %}{{ proposal.presentation }}{% endblock %}

{% block main %}



    <div class="container">

        <div class="row ">
            <div class="col-12 text-center">
                <h1 class="title">{% trans %}Ooops ! Trop peu de participations{% endtrans %}</h1>
                <p>{% trans %}Ce scrutin ne comporte pas assez de vote pour afficher le résultat.{% endtrans %}</p>

            </div>
        </div>

    </div>
{% endblock %}