
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/public/.htaccess
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> phpstorm ###
/.idea/
###< phpstorm ###

###> npm ###
/node_modules/
###< npm ###

