{% extends "body.html.twig" %}

{% block main %}

    <div class="container">
        <form method="post" action="{{ path("app_jm_form") }}"  autocomplete="off">
            <div class="row">
                <div class="col-12 text-center"><h5 class="title mb-4">{% trans %}Simple, gratuit et anonyme : organisez un vote à l'aide du Jugement Majoritaire.{% endtrans %}</h5></div>
            </div>
            <div class="row">
                <div class="col-12 offset-xl-2  col-md-7 col-xl-6">
                    <input type="text" class="form-control w-100" placeholder="{% trans %}Titre du vote{% endtrans %}" name="title">
                </div>
                <div class="col-12 col-md-5 col-xl-2">
                    <button type="submit" class="btn btn-primary w-100  mt-2 mt-md-0 pr-md-1 pl-md-1"><i
                                class="fas fa-rocket mr-2"></i>{% trans %}Lancer un vote{% endtrans %}
                    </button>
                </div>
                <div class="col-12 text-center pt-2">
                    <p><h6 class="text-muted"><small>{% trans %}Pas de publicité et pas de cookie publicitaire.{% endtrans %}</small></h6></p>
                </div>
            </div>
        </form>
    </div>
    <div class="bg-primary mt-5">
        <div class="container pt-5 pb-5 ">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="title text-white">{% trans %}Le Jugement Majoritaire, c'est quoi ?{% endtrans %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 m-auto col-md-6 pr-4 pl-4 text-white">
                    <div style="" class="mt-5">

                        <video width="100%" height="250" controls="controls">
                            <source src="/video/Le_Jugement_Majoritaire_en_1_minute.mp4" type="video/mp4" />
                            <source src="/video/Le_Jugement_Majoritaire_en_1_minute.webm" type="video/webm" />
                            <source src="/video/Le_Jugement_Majoritaire_en_1_minute.3gpp" type="video/3gpp" />
                        </video>
                       {#  <iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/YC1xDJsi_Hk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>#}

                        <p class="mt-5">{% trans %}Pour en savoir plus sur le Jugement Majoritaire, rendez-vous sur le site de l'association Mieux Voter :{% endtrans %}
                            <br /><a href="https://mieuxvoter.fr/" class="text-white underline" target="_blank">https://mieuxvoter.fr/</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div >
        <div class="container pt-5 pb-5">

            <div class="row">
                <div class="col-12">
                    <h4 class="title "><img src="/css/img/who.png" width="128"> {% trans %}Pour qui ?{% endtrans %}</h4>
                </div>
                <div class="col-12 pr-4 pl-4">

                    <p>{% trans %}Vous êtes un groupe de personnes (association, groupe d'amis, syndicat, entreprise etc...) et vous désirez soumettre une proposition au Jugement
                        Majoritaire.{% endtrans %} </p>

                    <p>{% trans %}Cet outil est particulièrement adapté à la prise de décisions collectives, dans un contexte de vote non confidentiel.{% endtrans %}</p>

                    <h5 class="title">Avertissement</h5>
                    <p>
                        {% trans %}Cette page n'est pas conçue pour des votes à fort enjeux car aucune vérification d'identité des votants n'est effectuée. Un participant peut voter autant de fois qu'il le souhaite.
                        Il est cependant possible de savoir combien de participations ont été enregistrées à la fin d'un vote. Il est donc possible pour un groupe de personnes de déceller un problème, si il y a plus de participations que de personnes.{% endtrans %}
                    </p>

                </div>
            </div>

        </div>
    </div>
    <div>


        <div class="bg-primary">
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-12">
                        <h4 class="title text-white"><img src="/css/img/ask.png" width="48"> {% trans %}Comment ça marche ?{% endtrans %}</h4>
                    </div>
                    <div class="col-12 pr-4 pl-4 text-white">

                        <ol>
                            <li>{% trans %}Saisissez un titre et une description afin d'expliquer aux participants la raison de ce vote.{% endtrans %}</li>
                            <li>{% trans %}Saisissez la durée de scrutin (le résultat ne sera visible qu'<u>une fois le vote terminé</u>){% endtrans %}</li>
                            <li>{% trans %}Saisissez les propositions/candidats possibles.{% endtrans %}</li>
                            <li>{% trans %}Validez le formulaire.{% endtrans %}</li>
                            <li>{% trans %}Copiez-collez le lien fourni et partagez le aux personnes de votre choix.{% endtrans %}<br/>
                                <b>{% trans %}Attention ! Conservez bien ce lien.{% endtrans %}</b>
                                <br>{% trans %}Il vous permettra de voter <b>ET</b> de consulter le résultat du scrutin terminé.{% endtrans %}</li>
                            <li>{% trans %}Sur la page de vote, les participants peuvent donner leur avis sur chacun(e) des propositions/candidats.{% endtrans %}</li>
                        </ol>

                        <p>{% trans %}Tous les votes sont <b>confidentiels</b>. Nous ne conservons <b>aucune donnée
                                personnelle</b>. Les votes et les propositions seront <b>automatiquement supprimés</b>
                            30 jours après la fin du vote.{% endtrans %}</p>


                        <hr/>

                    </div>
                </div>

            </div>
        </div>
        <div class=" ">
            <div class="container pt-5 pb-5">

                <div class="row">
                    <div class="col-12">
                        <h4 class="title "><img src="/css/img/ask.png" width="48"> {% trans %}Questions fréquentes ?{% endtrans %}</h4>
                    </div>
                    <div class="col-12 pr-4 pl-4 ">

                        <ul>
                            <li class="mt-3"><h5 class="title">{% trans %}Pourquoi c'est gratuit ?{% endtrans %}</h5>
                               {% trans %}Notre but est uniquement de promouvoir le Jugement Majoritaire. Nous pensons que c'est en l'utilisant dans la vie de tous les jours que nous pourrons faire progresser l'idée qu'il s'agit d'un mode de scrutin bien plus efficace que le simple comptage du nombre de voix.{% endtrans %}
                            </li>
                            <li class="mt-5"><h5 class="title">{% trans %}Comment puis-je modifier mon vote ou ma participation ?{% endtrans %}</h5>
                               {% trans %}Afin de préserver l'intégrité du résultat, ce n'est malheureusement pas possible. En revanche, il est trés simple de recommencer un nouveau vote (aucune limite de création).{% endtrans %}
                            </li>
                            <li class="mt-5"><h5 class="title">{% trans %}J'ai perdu mon lien, comment puis je le récupérer ?{% endtrans %}</h5>
                                {% trans %}N'ayant aucune information nous permettant de vous identifier, ce n'est malheureusement pas possible. En revanche, il est trés simple de recommencer un nouveau vote (aucune limite de création).{% endtrans %}
                            </li>
                            <li class="mt-5"><h5 class="title">{% trans %}Moi aussi je souhaite promouvoir le Jugement Majoritaire, que puis-je faire ?{% endtrans %}</h5>
                                {% trans %}Rapprochez-vous de l'association MIEUX VOTER !{% endtrans %} <a href="https://mieuxvoter.fr/" target="_blank" class="underline">https://mieuxvoter.fr/</a>
                            </li>
                        </ul>



                    </div>
                </div>

            </div>
        </div>
        <div class="bg-primary">
            <div class="container pt-5 pb-5">
                <div class="alert alert-primary ">
                    <p><b>{% trans %}ATTENTION : Projet en phase de test !{% endtrans %}</b></p>
                    <p><em{% trans %}Code source de ce projet WEB :{% endtrans %} <a href="https://github.com/oceanBigOne/jm" target="_blank">{% trans %}Projet WEB sur GitHub{% endtrans %}</a></em>
                        <br/><em>{% trans %}Code source du module Jugement Majoritaire en PHP :{% endtrans %}<a
                                    href="https://github.com/oceanBigOne/MajorityJudgment" target="_blank">{% trans %}Class PHP sur GitHub{% endtrans %}</a></em>
                    </p>
                </div>

            </div>
        </div>


{% endblock %}