{% extends "body.html.twig" %}



{% block main %}
    <main class="container">
        {% if redirect %}
            <script> document.location.href = '{{ path("app_jm_form") }}?redirect-save=true&key={{ proposal.urlKey }}' </script>
        {% endif %}
        <div class="row mt-5">
            <div class="col-12">
                <h1>Proposition enregistrée !</h1>
                <hr/>
                <p>Vous pouvez maintenant partager le lien du vote aux participants :</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-6">
                {% if redirect %}
                <input type="text" class="form-control" disabled value="Veuillez patienter ...">
                {% else %}

                <div class="input-group mb-3 ">
                    <input type="text" class="form-control autoselect" id="url"
                           value="{{ url("app_jm_vote",{'url_key':  app.request.query.get('key')  }) }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary copy-to-clipboard" data-target="#url" type="button"><i
                                    class="fas fa-copy"></i></button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col-12  p-4">

                <a href="{{ url("app_jm_vote",{'url_key':  app.request.query.get('key')  }) }}" class="btn btn-success"><i
                            class="fas fa-users mr-2"></i>Participer maintenant !</a>

                {% endif %}


            </div>
        </div>
    </main>
{% endblock %}