<!DOCTYPE html>
<html >
<head>
    <script type="text/javascript">
        const CONFIG={};
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" >
    <meta name="format-detection" content="telephone=no" >
    <meta name="HandheldFriendly" content="true" >
    <meta name="viewport" content="width = device-width,initial-scale = 1,minimum-scale = 1,maximum-scale = 1,  user-scalable=no" >
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/app.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script type="application/javascript" src="/js/vendor.min.js"></script>
<script type="application/javascript" src="/js/app.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>