{% extends "base.html.twig" %}


{% block body %}
    <header>
        {% block header %}{% endblock %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{{ path("app_jm_home") }}">
                <div class="m-0 p-0">PLATEFORME</div>
                <h6 class="m-0 p-0" style="margin-top:-8px !important;">
                    <small>Jugement Majoritaire</small>
                </h6>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="{{ path("app_jm_home") }}">Accueil</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path("app_jm_form") }}">Lancer un vote</a>
                    </li>

                </ul>

            </div>
        </nav>
    </header>
    <main class="pt-5">
        {% block main %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}