{% extends "base.html.twig" %}


{% block body %}
    <header>
        {% block header %}{% endblock %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{{ path("app_jm_home") }}">
               <img src="{{ app.request.getSchemeAndHttpHost() }}/css/img/logo.png" style="width:200px;" />

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="{{ path("app_jm_home") }}">Accueil</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path("app_jm_form") }}">Lancer un vote</a>
                    </li>


                </ul>
                <ul class="navbar-nav pull-right">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fab fa-github mr-2"></i> Codes source</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="https://github.com/oceanBigOne/jm" target="_blank">Plateforme de vote</a>
                        <a class="dropdown-item" href="https://github.com/oceanBigOne/MajorityJudgment" target="_blank">Class PHP</a>
                    </div>
                </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="pt-5">
        {% block main %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}