$dark:  #347e81  !default;
$primary:    #4277c7 !default;

$body-bg: #ffffff !default;

$body-color: #555555 !default;
$light:  #ffffff !default;


$font-family-sans-serif: "Raleway",sans-serif !default;
$font-family-serif: "Fjalla One", sans-serif !default;

